# **Machine Learning: Linear Regression**

## Objectives

* Build a linear regression model
* Build a pipeline model which includes scaling
* Consider **hypothesis 4** by comparing the models
* Use the model to evaluate **hypothesis 2**

## Inputs

* Cleaned CSV file "academic_performance_cleaned.csv" 

## Outputs

* A pipeline which performs linear regression on the dataset. I hope to output this to a streamlit app

---

# Change working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [2]:
import os
current_dir = os.getcwd()
current_dir

'c:\\Users\\tb975\\OneDrive\\Documents\\vs_code_projects\\Student-Academic-Performance\\jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [3]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [4]:
current_dir = os.getcwd()
current_dir

'c:\\Users\\tb975\\OneDrive\\Documents\\vs_code_projects\\Student-Academic-Performance'

# Load Data and Prepare for Linear Regression

First step is to import packages. This time I will be including packages that I will be needing from sklearn so that I can perform linear regression

In [6]:
#import data manipulation and visualisation packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split 
#set seaborn style so plots look nice
sns.set_style("whitegrid")

Load dataset and display first 10 rows

In [10]:
df = pd.read_csv("data/academic_performance_cleaned.csv")
#display first 10 rows of the dataset
df.head(10)

,Attendance (%),Internal Test 1 (out of 40),Internal Test 2 (out of 40),Assignment Score (out of 10),Daily Study Hours,Final Exam Marks (out of 100),Average Test Score,Study Group
0,84,30,36,7,3,72,33.0,low
1,91,24,38,6,3,56,31.0,low
2,73,29,26,7,3,56,27.5,low
3,80,36,35,7,3,74,35.5,low
4,84,31,37,8,3,66,34.0,low
5,100,34,34,7,3,79,34.0,low
6,96,40,36,8,3,83,38.0,low
7,83,39,37,7,3,77,38.0,low
8,91,30,37,8,2,71,33.5,low
9,87,27,37,8,3,61,32.0,low

When the CSV is saved and loaded it resets the datatypes to int64, so I will change datatypes from int64 to int8 to save memory.

In [ ]:

#change datatypes to save memory
df = df.astype({col: 'int8' for col in df.select_dtypes('int64').columns})
#display datatypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Attendance (%)                 2000 non-null   int8
 1   Internal Test 1 (out of 40)    2000 non-null   int8
 2   Internal Test 2 (out of 40)    2000 non-null   int8
 3   Assignment Score (out of 10)   2000 non-null   int8
 4   Daily Study Hours              2000 non-null   int8
 5   Final Exam Marks (out of 100)  2000 non-null   int8
 6   Average Test Score             2000 non-null   float64
 7   Study Group                    2000 non-null   category
dtypes: category(1), float64(1), int8(6)
memory usage: 29.5 KB

### Linear Regression

Linear regression is used to model the relationship between a dependent variable and one or more independent variables. It is the perfect model for this dataset WHYWHYWHYWHYWHY

Linear regression requires numerical data only and WHAT DOES IT DO?? Precdiction

Before I perform linear regression I need to clean the data. The Study Group column, which was generated for statistical analysis, is categorical and so cannot be considered by the regression algorithm without one hot encoding it. The information in the study group column is represented numerically by the column daily study hours so the study group column is redundant. Leaving it in would make the results misleading as it would be double counting the same metric. 

The same can be said for the two internal test score columns which also need to be removed. These have been summarised in one column: average test scores. Leaving them in would again mislead the results of the linear regression model.

### Small data cleaning step

In [15]:
df_reg = df.drop(['Internal Test 1 (out of 40)',
       'Internal Test 2 (out of 40)', 'Study Group'], axis=1)
df_reg.head(10)

,Attendance (%),Assignment Score (out of 10),Daily Study Hours,Final Exam Marks (out of 100),Average Test Score
0,84,7,3,72,33.0
1,91,6,3,56,31.0
2,73,7,3,56,27.5
3,80,7,3,74,35.5
4,84,8,3,66,34.0
5,100,7,3,79,34.0
6,96,8,3,83,38.0
7,83,7,3,77,38.0
8,91,8,2,71,33.5
9,87,8,3,61,32.0

# Hypothesis 4: A fully processed regression pipeline achieves better accuracy than a model without preprocessing.

EXPLANATION overall plan for H4

What does preprocessing mean, why might the data need to be scaled

# Split Dataset into Train and Test

This is a supervised learning task which means that the dataset can be thought of as having features and a target variable.

The target variable is a column which the model is trying to predict. In this case the target is the final exam marks.

The features are the rest of the data in the dataset. 

The model is trying to answer the question: with a set of unseen features, how accurately can the target variable be predicted. 

The dataset is split into two sections, the train set and the test set. The model is trained on the train set, it learns what features are important and contibute most to the variance in the target data. The model is then tested on unseen data (the test set) and it predicts what the targets variables are on the unseen data. The model can then compare its predictions of the test data to the actual target values of the test data and can assess how good it was at predicting the target variables. 

MORE MORE MORE

In [17]:
df_reg.columns.unique()

Index(['Attendance (%)', 'Assignment Score (out of 10)', 'Daily Study Hours',
       'Final Exam Marks (out of 100)', 'Average Test Score'],
      dtype='object')

In [ ]:
#split dataset into train and test X represents features (drop target variable) and y represents target variable
X = df_reg.drop('Final Exam Marks (out of 100)', axis=1)
y = df['Final Exam Marks (out of 100)']
#create 4 variables for the X_train and X_test are the features and y_train and y_test are the targets
#test_size = 0.2 the dataset is split into 80% train and 20% test, ramdom state provides reproducability 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=101)

Train set: (1600, 4) (1600,)
Test set: (400, 4) (400,)

Inspecting the X_train shows us that it no longer contains the final marks column so represents just the features, and inspecting the y_train dataframe shows us that it is just the the final marks i.e. the target variable.

In [ ]:
#features only
X_train

,Attendance (%),Assignment Score (out of 10),Daily Study Hours,Average Test Score
668,73,8,2,35.0
1345,81,6,3,32.5
373,92,7,2,31.0
1388,98,7,4,30.0
132,75,8,2,31.5
...,...,...,...,...
1599,97,9,3,36.5
1862,91,7,3,30.5
1361,81,8,2,36.0
1547,94,9,3,36.0
863,93,9,2,38.0

In [ ]:
#targets only
y_train

668     65
1345    59
373     70
1388    68
132     58
        ..
1599    78
1862    71
1361    63
1547    81
863     79
Name: Final Exam Marks (out of 100), Length: 1600, dtype: int64

Printing the shape of the datafames shows us that the train set is now 1600 rows (80% of 2000) and the test set is 400 rows (20%)

In [27]:
#print the shape of the train and test sets
print(
    "Train set:",
    X_train.shape,
    y_train.shape,
    "\nTest set:",
    X_test.shape,
    y_test.shape,
)

Train set: (1600, 4) (1600,)
Test set: (400, 4) (400,)

# Baseline linear regression model (no pre-processing)

In [28]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [29]:
model.predict(X_test)

array([70.72942766, 77.69489339, 59.84996204, 77.70651976, 65.65996455,
       71.10032554, 67.41854474, 80.39306091, 65.64959454, 84.47293757,
       55.99633129, 75.79763441, 58.1673226 , 73.57224715, 60.36551188,
       78.27915445, 77.50747183, 62.74717749, 69.66987363, 65.93620959,
       57.72771351, 72.02954285, 86.60241564, 65.31626465, 57.94107669,
       69.21863817, 84.6292159 , 62.66683991, 65.83181449, 56.18375285,
       82.61844818, 59.41035295, 64.00577945, 52.85729832, 67.6059663 ,
       63.20958773, 67.61759267, 53.74500241, 64.29113814, 69.81578196,
       80.69399122, 55.02954599, 71.27217549, 79.76400232, 73.47036477,
       63.564914  , 54.0303611 , 74.38401048, 60.22085991, 79.54938278,
       75.54984371, 82.98934606, 74.18621891, 76.06664992, 71.48679503,
       72.24021715, 75.9979387 , 59.35595699, 67.10078646, 86.03246984,
       84.85940706, 77.15214557, 74.58305841, 62.3075684 , 83.80708257,
       60.16772032, 69.04678822, 72.06711084, 66.33304909, 82.07570035,
       62.54812956, 77.81360374, 51.3049956 , 55.33047629, 42.44352725,
       60.16646395, 65.03687914, 74.01436896, 64.07449066, 69.96043393,
       50.80376101, 68.20311009, 56.61501988, 84.81663747, 54.11464392,
       75.12580623, 65.22035546, 72.74019538, 60.46739426, 59.76962446,
       43.95103244, 55.07105922, 58.28603295, 85.03125701, 54.44402857,
       71.94526003, 48.10559349, 73.69661068, 58.05584179, 49.39013707,
       57.49549441, 65.60682495, 58.64135921, 77.22085678, 58.19452058,
       51.44367438, 55.77008538, 64.8222596 , 67.63190792, 62.62407031,
       61.26358597, 60.29680067, 48.47649136, 59.03819871, 64.40261894,
       70.3313318 , 72.4120671 , 45.43462395, 60.34994027, 58.48508088,
       69.32743009, 61.7531942 , 70.65946009, 57.89956346, 54.08870231,
       59.29761578, 72.72856902, 78.6085391 , 32.17552066, 60.96988522,
       82.07570035, 76.86158527, 59.89870481, 51.58832635, 63.28992531,
       71.07312756, 57.88399184, 70.20225145, 66.64955101, 75.27171456,
       71.60030377, 80.09087425, 56.68373109, 47.36379773, 89.88610058,
       60.10937911, 66.53604226, 75.05709502, 69.36329014, 46.39701243,
       46.95013026, 64.78074637, 50.59039783, 86.07523943, 86.00527186,
       60.86549012, 73.40165356, 63.95138349, 57.51309397, 62.65126829,
       56.94440452, 72.85167619, 74.85804709, 68.78862751, 64.4785597 ,
       73.36722604, 80.58173884, 62.29594203, 69.77301236, 57.35681563,
       68.30499247, 59.69965689, 52.8313567 , 50.27784115, 63.03773778,
       65.83307086, 58.48382452, 66.33304909, 60.68327016, 67.66036226,
       51.00280893, 59.05628304, 73.16817811, 60.32399865, 81.7923696 ,
       64.45136172, 77.49584547, 73.27131684, 68.01443217, 41.14012775,
       85.48972201, 64.04729268, 61.45100754, 65.03687914, 44.82190855,
       64.77351682, 70.53037973, 65.29032303, 61.27915759, 70.20225145,
       62.1500337 , 79.13571531, 60.10937911, 54.23335427, 83.80708257,
       72.2545324 , 83.29153272, 69.08955781, 84.10203969, 66.67674899,
       56.79723983, 66.52047065, 71.35974261, 72.48800786, 56.44316993,
       73.54033235, 68.99804544, 61.92504415, 74.91118669, 62.28037042,
       62.85031622, 80.19401299, 59.40909659, 64.34947935, 67.40691837,
       58.72564204, 75.73726527, 61.97944011, 55.08865877, 71.98677326,
       65.81749924, 67.02044888, 65.46217298, 68.94364948, 55.84602614,
       67.24669479, 78.59296749, 66.17677075, 50.35817873, 68.97084746,
       68.68751671, 71.08869917, 69.59079241, 67.48851231, 59.52183375,
       57.82236634, 72.27338832, 50.83095899, 53.47598691, 60.79677891,
       50.6603654 , 63.60768359, 67.76224464, 68.25624969, 65.14001788,
       69.77301236, 73.47036477, 74.14219296, 60.52179022, 54.34088983,
       64.60166687, 68.5040404 , 58.39954169, 50.47688908, 54.06150433,
       81.73200046, 66.37581868, 67.5528267 , 54.68458973, 69.44488408,
       53.64783685, 63.03773778, 68.51566676, 68.54680999, 56.71092907,
       72.59948866, 62.65126829, 67.44574272, 90.25699846, 45.39185435,
       73.20260563, 72.92761695, 74.42678007, 78.46388713, 75.29891254,
       54.85643968, 42.39747335, 65.24755344, 59.35595699, 58.46950926,
       80.9902047 , 69.65950362, 57.80805109, 61.97818375, 67.41854474,
       84.9729158 , 67.41854474, 55.72857215, 73.3684824 , 62.85031622,
       63.03773778, 75.52390209, 69.64393201, 71.37531422, 68.20311009,
       72.83170775, 55.08268559, 77.69489339, 61.65005546, 64.86502919,
       73.52350437, 82.35068904, 52.97600867, 71.98677326, 50.28821116,
       56.66941584, 72.28173038, 66.87579692, 43.09649952, 72.28173038,
       75.99668234, 69.10118418, 63.73676395, 51.47684555, 63.3542397 ,
       81.53295253, 77.3084239 , 70.74499927, 56.52870911, 54.95957842,
       66.32142272, 82.04975873, 60.09775274, 80.89429551, 65.46217298,
       69.32743009, 61.96781374, 65.66122091, 65.69439207, 65.0912751 ,
       56.48468316, 58.20049376, 76.28126946, 47.12323657, 74.9267583 ,
       63.58048561, 68.89050989, 63.97858147, 61.72599622, 49.21828712,
       54.78772847, 67.97686418, 55.67417619, 69.16989539, 58.24326335,
       62.35033799, 83.5476655 , 45.34908476, 65.41940339, 41.62250643,
       71.07312756, 80.77558516, 77.95431047, 61.33952673, 69.70101685,
       67.02044888, 73.20134927, 69.20432292, 21.92905887, 75.32485416,
       75.52390209, 78.68887668, 72.68579942, 60.15089234, 85.91375949,
       57.8236227 , 70.35852978, 66.45175944, 47.02009783, 63.17641657,
       67.28820802, 64.96093838, 64.00452309, 58.78601118, 48.05119753,
       59.65091411, 62.3659096 , 63.38143768, 79.5753244 , 48.77742167,
       50.61633944, 45.42502552, 70.17110822, 62.83868985, 74.75490835,
       63.96300986, 54.44402857, 69.0739862 , 66.66512262, 76.59382613])

---

# Section 2

Section 2 content

---

NOTE

* You may add as many sections as you want, as long as it supports your project workflow.
* All notebook's cells should be run top-down (you can't create a dynamic wherein a given point you need to go back to a previous cell to execute some task, like go back to a previous cell and refresh a variable content)

---

# Push files to Repo

* In cases where you don't need to push files to Repo, you may replace this section with "Conclusions and Next Steps" and state your conclusions and next steps.

In [ ]:
import os
try:
  # create your folder here
  # os.makedirs(name='')
except Exception as e:
  print(e)